:root {
    --marginMin: -3px;
}

body {
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
}

input {
    outline: none;
    display: block;
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
#mainField {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    background: linear-gradient(90deg, #f598a8, #ECE3CE);
}

#display {
    display: flex;
}

#operators {
    background-color: #DDF2FD;
    color: #DDF2FD;
    flex-grow: 0;
    border: 5px solid #164863;
    border-right: none;
    border-top-left-radius: 20px;
    user-select: none;
}

.oper {
    font-size: 25px;
    margin: 5px 6px;
    line-height: 0.8;
}

.oper[select] {
    color: black;
}

#values {
    display: grid;
    flex-grow: 1;
}

.val {
    border: 5px solid #164863;
    padding-left: 10px;
    background-color: white;
}

#values .val:first-child {
    border-bottom: none;
    border-top-right-radius: 20px;
}

#val1 {
    border-top-right-radius: 20px;
}

#values .val:last-child {
    border-top: none;
}

#utilisation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #164863;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
}

.btn {
    padding: 0.6em 0.8em;
    font-size: 27px;
    box-sizing: border-box;
    background-color: #DDF2FD;
    margin-right: var(--marginMin);
    margin-bottom: var(--marginMin);
}

#operAdd, #operDiv, #operSous, #operMult {
    margin-right: 0;
}

#number0, #equal, #clean, #operMult {
    margin-bottom: 0;
}

#number0 {
    border-bottom-left-radius: 20px;
}

#operMult {
    border-bottom-right-radius: 20px;
}

.btn:hover {
    background: none;
    background-color: #00a2fd;
}